@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 20%, 93%);
}

.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 700px;
  padding: 30px 30px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.container > p {
  font-size: 14px;
  padding: 10px 10px;
}

.page-content-left {
  align-self: flex-start;
  color: rgb(17, 24, 121);
  margin-left: 5px;
  padding-left: 10px;
  font-size: small;
  font-weight: bold;
}
.page-content-right {
  align-self: flex-end;
  color: rgb(17, 24, 121);
  font-size: small;
  font-weight: bold;
}
.page-footer {
  align-self: flex-end;
}
#scores {
  padding-left: 5px;
}

.scoreBoard {
  padding: 5px;
  font-weight: bolder;
}
.question {
  width: 75%;
}

.options {
  position: relative;
  padding-left: 40px;
}

#options label {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
}

.options input {
  opacity: 0;
  width: 100%;
}

.checkmark {
  position: absolute;
  top: -1px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #555;
  border: 1px solid #ddd;
  border-radius: 50%;
}

.options input:checked ~ .checkmark:after {
  display: block;
}

.options .checkmark:after {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark {
  background: #21bf73;
  transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark:after {
  transform: translate(-50%, -50%) scale(1);
}

#check {
  color: blue;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
}
.btn {
  text-align: center;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  border-radius: 5px;
}
.btn-primary {
  background-color: #555;
  color: #ddd;
  border: 1px solid #ddd;
}

.btn-primary:hover {
  background-color: #21bf73;
  border: 1px solid #21bf73;
}

.btn-success {
  background-color: #21bf73;
  color: #ddd;
}
.hidden {
  display: none;
}
footer {
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 20px;
}
